[Desktop Entry]
Name=FlowPlusPlus
Comment=Visual Flowchart Interpreter
Exec=FlowPlusPlus
Icon=FlowPlusPlus
Type=Application
Categories=Development;Education;
Keywords=flowchart;interpreter;programming;visual;
